.products-carousel {
    h1 {
        font-size: 0.875rem;
        font-weight: 600;
        text-align: center;
        @apply uppercase mb-1;
    }

    h3 {
        @apply text-center uppercase mb-5; 
        font-size: 1.5rem;
        font-weight: 600;  
    }

    .product_meta {
        display: none;
    }

    .product_type_simple {
        display: none;
    }

    .product-details {
        p {
            font-size: 0.6875rem;
            font-weight: 500;
            color: #aabbc6;
            @apply text-center uppercase;
        }
    }

    a.orange-button {
        background: $colour-orange;
        display: table;
        color: white;
        font-weight: 600;
        font-size: 0.75rem;
        text-align: center;
        @apply mx-auto uppercase;
        font-family: $font-2;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 7px;
        padding-bottom: 9px;
        transition: all 0.8s ease-out, color 0.3s 0.3s !important;

        &:hover {
            box-shadow: 600px 0 0 0 rgba(0, 128, 210, 1) inset;
        }
    }
}

.layout-adjust {
    .col-heading {
        h3 {
           @apply mb-1;
        }
    }
}

.two-col-block {

    .col-heading h3{
        font-size: 	1.5rem;
        font-weight: 600;
    }

    h4 {
        font-size: 1rem;
        font-weight: 600;
        @apply w-1/2 mb-1;
    }

    p {
        font-size: 	0.875rem;
        line-height: 1.5;
    }

    ul {
        list-style-type: disc;
        font-size: 0.875rem;
        line-height: 1.5;

        li {
            margin-bottom: 0.5rem;
        }
    }

    a {
        font-weight: 700;
        color: #0080D2;
        text-decoration: underline;
    }
}

.text-map-block {
    .background-white {
        background-color: white;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        @apply uppercase;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
        @media(min-width: 1100px) {
            width: 100%;
            max-width: 90%;
        }
    }
}

.enquire-now-block {

    h1,
    h2,
    h3 {
        text-align: center;
        @apply mb-3 uppercase pb-5;
        font-size: 1.5rem;
        font-weight: 600;
    }

    div {
        line-height: 2.2;
        gap: 20px;
    }

    label {
        font-family: $font-1;
        font-size: 	0.875rem;
        font-weight: 600;
    }

    input[type="text"], 
    input[type="tel"], 
    input[type="email"] {
        border: 1px solid #E4EAEF;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        width: 100%;
        font-weight: 500;
        padding-left: 1.2rem;
        font-size: 14px !important;
        font-family: $font-1;

        ::placeholder {
            font-size: 14px !important;
        }

        &:focus {
            outline: none !important;
            border: 1px solid $warranty-color;
        }
    }

    input[type="submit"] {
        background: $colour-orange;
        font-family: $font-2;
        font-weight: 600;
        @apply uppercase cursor-pointer;
        color: white;
        padding: 10px 25px;
        font-size: 1.125rem;
        transition: all 0.8s ease-out, color 0.3s 0.3s !important;

        &:hover {
            box-shadow: 600px 0 0 0 rgba(0, 128, 210, 1) inset;
        }
    }

    textarea {
        width: 100%;
        font-size: 0.875rem;
        font-weight: 500;
        border: 1px solid #E4EAEF;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.2rem;
        height: 100%;
        max-height: 130px;
        resize: none;
        margin-bottom: 1rem;

        ::placeholder {
            font-size: 0.875rem;
        }
    }
}

.centered-page-title {
    h1,
    h2 {
        @apply uppercase;
        font-size: 1.875rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 2rem;
    }
}

.video-block {
    .col-heading {
        font-family: $font-2;
        font-weight: 600;
        font-size: 1.5rem;
        @apply uppercase;
    }
}

.news-block {
    background-color: $lighter-blue;

    h3 {
        @apply text-center uppercase;
        font-size: 1.5rem;
        font-weight: 600;
    }
    img {
        width: 100%;
    }

    .news-block-title {
        font-family: $font-2;
        font-weight: 600;
        font-size: 1.3125rem;
    }

    .excerpt p{
        font-size: 0.875rem;
        line-height: 1.5;
    }

    .news-block-post:first-of-type {
        @apply mr-4;
    }
}

.gallery {
    img {
        width: 100%;
        height: 100%;
    }
}

// Accordion styles
.faq {
    background-color: $colour-blue;

    h3 {
        @apply text-center;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .faq-content {
        border-bottom: 2px solid $input-border-grey;

        button {
            @apply uppercase;
            font-size: 1rem;
            font-family: $font-2;
            font-weight: 600;
        }
    }

    .faq-holder {
        .faq-content:first-of-type {
            border-top: 2px solid $input-border-grey;
        }
        .faq-content:last-of-type {
            border-bottom: 2px solid $input-border-grey;
        }
    }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    @apply flex flex-row justify-between items-center;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 5px;
    border: none;

    .plus-minus {
        display: block;
        width: 16px;
        height: 3px;
        background: #AABBC6;
        position: relative;
        &:after {
            position: absolute;
            display: block;
            width: 16px;
            height: 3px;
            background: #AABBC6;
            transform: rotate(90deg);
            content: '';
            float: none;
        }
    }

    &:focus {
        outline: none;
    }
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active-block, .accordion:hover,
  button:focus {
    border: none;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    font-size: 0.875rem;
    display: none;
    overflow: hidden;
    animation: fadeIn 0.25s linear;
  }
  
//   .accordion:after {
//     content: '';
//     background-image: url('../images/plus.svg');
//     background-repeat: no-repeat;
//     background-size: contain;
//     height: 20px;
//     width: 20px;
//     font-size: 13px;
//     color: #777;
//     float: right;
//     margin-left: 5px;
//     animation: fadeIn 0.25s linear;
//   }
  
//   .active-block:after {
//     background-image: url('../images/minus.svg');
//     background-repeat: no-repeat;
//     background-size: contain;
//     animation: fadeIn 0.25s linear;
//     transform: translateY(10px);
//   }

  @keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
  }

// Finance block
.general-col {
    p {
        font-size: 0.875rem;
        line-height: 1.5;
    }

    a {
        color: $colour-1;
        font-weight: 700;
    }
}

// Left aligned block
.left-page-title {
    h2 {
        @apply uppercase;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
        @apply mb-4;
    }
}

// Full screen video block
.full-screen {
    min-height: 75vh;
}

.video-heading {
    color: white;
    font-family: $font-2;
    font-size: 1.5rem;
}

// Single column block
.single-column {
    h3 {
        @apply uppercase;
    }
    p {
        font-size: 0.875rem;
        line-height: 1.5;
    }
}

// Image carousel
.grid-image-carousel {
    @apply uppercase;
}

.warranty-period {
    margin-top: -0.75rem;
}

// In grid video
iframe {
    width: 100%;
}

// Markets CPT
.markets-block {
    p {
    font-size: 0.7em;
    line-height: 1.5em;
    }

    h3 {
        font-size: 0.9em;
    }

    .orange-button {
        margin-left: 0;
    }
}

// Buttons
.wp-block-buttons {
  @apply flex flex-row flex-wrap my-4;
  > .wp-block-button {
    @apply flex mr-2 mb-2;
    > .wp-block-button__link {
        background-color: $colour-orange;
        font-size: 1.125rem;
        font-family: "Oswald", sans-serif;
        font-weight: 600;
        color: #fff;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 7px;
        padding-bottom: 9px;
        text-transform: uppercase;
        -webkit-transition: all 0.8s ease-out, color 0.3s 0.3s !important;
        transition: all 0.8s ease-out, color 0.3s 0.3s !important; 
        &:hover {
            box-shadow: 600px 0 0 0 rgba(0, 128, 210, 1) inset;
            color: white;
        }
        &.has-bg-black-background-color {
            background-color: $shade-1;    
        }
        &.has-bg-white-background-color {
            background-color: $shade-2;    
        }
        &.has-bg-grey-background-color {
            background-color: $warranty-color;    
        }
        &.has-bg-orange-background-color {
            background-color: $colour-orange;    
        }
        &.has-bg-blue-background-color {
            background-color: $colour-1;    
            &:hover {
                box-shadow: 600px 0 0 0 $colour-orange inset;
                color: white;
            }

        }
    }
  }
}

.has-text-align-center {
    @apply text-center;
}

// columns

.wp-block-columns {
  @apply flex flex-col -mx-4;
}

@screen lg {
    .wp-block-columns {
        @apply flex-row;
    }
}
  
.wp-block-column {
    flex: 1;
}

@screen lg {
  .wp-block-column {
    @apply px-4;
}
}

// related
.related-carousel {
    border-top: 1px solid #D7E5EE;
}

.active-block .plus-minus:after {
    display: none;
}

.play-button-block:hover {
    opacity: 0.9;
}



.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

// Video Embed
.wp-block-embed-youtube.wp-embed-aspect-16-9 {
    .wp-block-embed__wrapper {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        overflow: hidden;
        &::before {
            padding-top: 56.25%;
            display: block;
            content: "";
        }

        iframe {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

.has-bg-grey-background-color {
    background-color: #eef4f8;
}