.blue-button {
    background-color: #0080D2;
    font-size: 0.75rem;
    font-family: $font-2;
    @apply text-white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 11px;
    text-transform: uppercase;
    transition: all 0.8s ease-out, color 0.3s 0.3s !important;
    display: inline-block;

    &:hover {
        box-shadow: 600px 0 0 0 rgba(252,173,64,1) inset;
        color: white;
    }
}

.blue-button-large {
    background-color: #0080D2;
    font-size: 	1.125rem;
    font-family: $font-2;
    font-weight: 600;
    @apply text-white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 9px;
    text-transform: uppercase;
    transition: all 0.8s ease-out, color 0.3s 0.3s !important;
    display: inline-block;

    &:hover {
        box-shadow: 600px 0 0 0 rgba(252,173,64,1) inset;
        color: white;
    }
}

.orange-button {
    background: $colour-orange;
    display: table;
    color: white;
    font-weight: 600;
    font-size: 0.75rem;
    text-align: center;
    @apply mx-auto uppercase;
    font-family: $font-2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 9px;
    transition: all 0.8s ease-out, color 0.3s 0.3s !important;

    &:hover {
        box-shadow: 600px 0 0 0 rgba(0, 128, 210, 1) inset;
        color: white;
    }
}

.orange-button-large {
    background: $colour-orange;
    display: table;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    text-align: center;
    @apply mx-auto uppercase;
    font-family: $font-2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 9px;
    position: relative;
    transition: all 0.8s ease-out, color 0.3s 0.3s !important;

    &:hover {
        box-shadow: 600px 0 0 0 rgba(0, 128, 210, 1) inset;
        color: white;
    }
}

.orange-button-large.hover-filled-slide-right::before {
    top:0; bottom: 0; right: 0;
    height: 100%; width: 100%;
  }
  .orange-button-large.hover-filled-slide-right:hover::before {
    width: 0%;
  }

.grey-button-large {
    background: $warranty-color;
    display: table;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    text-align: center;
    @apply mx-auto uppercase;
    font-family: $font-2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 9px;
}

