/*-----------------------------------*/
/*  Footer
/*-----------------------------------*/

#footer {
    border-top: 1px solid #D7E5EE;

    h3 {
        font-size: 1rem;
        @apply uppercase;
        font-weight: 600;
    }

    span {
        font-size: 0.75rem;
        font-family: $font-2;
        font-weight: 600;
        @apply uppercase;
    }

    a {
        text-decoration: underline;
        color: #0080d2;
        font-size: 0.875rem;
        font-weight: 500;
        &:hover {
            color: $colour-orange;
        }
    }

    .contact-details {
        a {
            @apply pl-2;
        }

        img {
            width: 100%;
            max-width: 25%;
        }

        p {
            @apply mb-2 flex flex-row;

            &:last-of-type {
                @apply mb-4;
            }
        }

        .contact-form {
            
        }
    }

    .footer-services-widget + .textwidget{
        img {
            width: 100%;
            max-width: 40%;
        }
    }
}

.copyright {
    background: $colour-blue;
    font-size: 0.625rem;
    font-weight: 500;

    p {
        @apply mb-0;
    }
}