/*-----------------------------------*/
/*  Header
/*-----------------------------------*/

p {
    color: $para-color !important;
}

h1, h2, h3, h4, h5, h6 {
    color: $para-color !important;
}

html {
    scroll-behavior: smooth;
}

.desktop-menu {   
    ul#menu-main-menu {
        display: flex;
        font-size: 12px;
        
        li {
            
            font-size: 1em;
            font-weight: 600;
            text-transform: uppercase;
            font-family: $font-1;
            @apply py-3;
            a {
                padding-right: 2rem;
                color: $colour-1;
                display: block;
            }
        }
    }
}

@-moz-document url-prefix() { 
    .desktop-menu {   
        ul#menu-main-menu {
            li {
                @apply relative;
            }
        }
    }
}

.desktop-menu ul#menu-main-menu li.menu-item-has-children a {
    padding-right: 0;
}
    
.phone-cta {
    a {
        font-family: $font-2;
        font-size: 14px;
        background-color: $colour-orange;
        padding: 7px 20px;
        color: white;
        transition: all 0.8s ease-out, color 0.3s 0.3s !important;

        &:hover {
            box-shadow: 600px 0 0 0 rgba(0, 128, 210, 1) inset;
            color: white;
        }
    }
}

.hero-begin {
    min-height: 40vh;

    .hero-heading {
        font-family: $font-2;
        font-size: 2.625rem;
        font-weight: 600;
        text-transform: uppercase;
        @apply mb-5;
        color: white !important;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background: #0080D2;
        z-index: -1;
    }
}

.search-form {
    position: relative;
    width: 100%;
    margin-left: 1rem;

    input[type="search"] {
        border: 1px solid #E4EAEF;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 400px;
        padding-left: 2.5rem;
        font-size: 14px !important;

        ::placeholder {
            font-size: 14px !important;
        }

        &:focus {
            outline: none !important;
            border: 1px solid $warranty-color;
        }
    }
    &::before {
        content: '\f002';
        // background-image: url('./images/Search_Icon.png');
        // background-repeat: no-repeat;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        height: 20px;
        width: 20px;
        top: 7px;
        position: absolute;
        font-size: 1rem;
        color: #b4bbc0;
        left: 11px;
    }
}

.desktop-menu {   

li.active a {
    color: $colour-orange !important;
}

li.active li.menu-item-has-children::after {
    color: $colour-orange !important;
}

li.menu-item-has-children:hover > a,
li.menu-item-has-children:hover:after {
    color: $colour-orange !important;
}

li > a:hover {
    color: $colour-orange !important;
}

}

.service-icons {
    .icon-holder {
        background-color: $colour-blue;
        @apply py-3 relative;
        border: 1px solid #D7E5EE;
        transition: background-color 0.3s ease;
        @media(min-width: 1024px) {
            height: 100px;
        }
        img {
            @apply mx-auto pb-2;
            align-self: center;
            @media(min-width: 1024px) {
                position: absolute;
                bottom: 26px;
                left: 0;
                right: 0;
            }
        }
        p {
            font-family: $font-1;
            font-size: 10px;
            @apply text-center mb-0;
            color: #698599;
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            font-weight: 500;
        }
        &:hover {
            background-color: #fff;
        }
    }
}

.push-down {
    ul.sub-menu {
        top: 95px !important;
    }
}

.navigation-holder {
    background-color: white;
}

.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    box-shadow: -1px 0px 8px -2px rgba(0,0,0,0.75);
    animation: slideDown 0.35s linear;
}

@keyframes slideDown {
    from {
        transform: translateY(-30%);
    }
    to {
        transform: translateY(0);
    }
}
.desktop-menu {   


li.menu-item-has-children:hover ul.sub-menu{
    opacity: 1;
    z-index: 99;
    pointer-events: all;
}

li.menu-item-has-children {
    padding-right: 2.5rem !important;
    display: flex;

    &::after {
        content: '\f0dd';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        padding-left: 0.5rem;
        color: #0080D2;
        display: block;
        transform: translateY(-2px);
    }
}

ul.sub-menu {
    display: block;
    list-style-type: none;
    position: absolute;
    top: 75px;
    padding-right: 3rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: -7px;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    min-width: 280px;

    li {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    background-color: $colour-1;

    &::before {
        content: '';
        height: 20px;
        width: 20px;
        position: absolute;
        top: -10px;
        // right: calc(50% - 5px);
        background-color: $colour-1;
        transform: rotate(45deg);
        left: 4px;
    }

    li a {
        color: white !important;
        &:hover {
            color: $colour-orange;
        }
    }
}
}


#canvas-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 99998;

}

#canvas-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    background: #fff;
    height: 100vh;
    overflow-y: scroll;
    z-index: 99999;
    padding-top: 200px;
    padding: 30px;
    box-shadow: 2px 0 8px -4px rgba(0, 0, 0, 0.75);
    transform: translateX(-300px);
    transition: all 0.2s ease;

    .mobile-menu {
        > ul {
            > li {
                @apply flex flex-wrap justify-between;
                color: #0080D2;
                border-bottom: 1px solid #f2f2f2;
                a {
                    font-size: 0.8em;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-family: "Montserrat", sans-serif;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    
                }
                .rotate-down {
                    transform: rotate(180deg);
                }

                .sub-menu {
                    padding-bottom: 20px;
                    font-size: 0.9em;

                }
            }
        }
    }

    .search-form {
        margin-left: 0;
        margin-top: 40px;
        input {
            width: 100%;
        }
    }

    .phone-cta {
        width: 100%;
        > a {
            text-align: center;
            display: block;
        }
    }
}


#canvas-menu-overlay {
    display: none;
}
.menu-opened {
    overflow-y: hidden;
    max-height: 100vh;
    height: 100vh;
      position: fixed;

    #canvas-menu-overlay {
        display: block;
    }
#canvas-menu {
    transform: translateX(0px);

}
}

.menu-trigger {
    color: $colour-1;
}

.submenu-toggle {
    outline: none;
}

.phone-i {
    margin-right: 20px;
    color: $colour-1;
}