@media (min-width: 300px) and (max-width: 850px) and (orientation:landscape) {
}

@media (min-width: 812px) and (max-width: 823px) and (orientation:landscape) {

}

@media (min-width: 1023px) and (max-width: 1024px) and (orientation:landscape) {
    
}

@media (max-width: 1600px) and (orientation: landscape) {
 
}