#contact-us-page {

    .form-section-content {
        h1,
        h2,
        h3 {
            font-size: 1.875rem;
        }
    }

    span.wpcf7-list-item {
        margin: 0;
        color: #AABBC6;
        font-size: 0.75rem;
        font-weight: 600;
        display: block;
        margin-left: 18px;
        line-height: 1.5;
        height: 50px;
        position: relative;

        label {
            font-size: 0.75rem;
        }
    }
    span.wpcf7-list-item-label {
        margin-left: 0.6rem;
        margin-left: 18px;
        transform: translate(-9px, -1px) !important;
        position: absolute;
        width: auto;
    }

    input[type="checkbox"] {
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-left: -36px;
    }
    
    .checkboxes {
        margin-left: 17px;
    }
}

#contact-details {
    span {
        font-size: 1rem;
        font-family: $font-2;
        font-weight: 600;
    }

    h3 {
        text-transform: uppercase;
    }

    p {
        a {
            text-decoration: underline;
            color: #0080d2;
            font-size: 1rem;
            font-weight: 500;
            padding-left: 0.6rem;
        }
    }
}

.wpcf7-not-valid-tip {
    font-size: 0.6em !important;
}

.pt-0-im {
    padding-top: 0px !important;
}

.pb-0-im {
    padding-bottom: 0px !important;
}

i.fa,
i.fas {
    font-style: normal !important;
}