@media (max-width: 1023px) {
    .navigation-holder {
        flex-direction: column-reverse;
        background-color: $colour-blue;
        justify-content: center;
        align-items: center;
        color: white;
        position: fixed;
        height: 100vh;
        width: 100%;
        z-index: 15;
        top: 0;
        transition: all .4s ease-in-out;
        transform: translateX(-100%);
        cursor: pointer;

        a {
            padding-right: 0;
            padding-bottom: 0.6rem;
        }
        li.active {
            color: black;
        }
    }
    .menu_shown .navigation-holder {
        transform: translateX(0);
    }
    .menu_shown {
        .menu__icon:before,
        .menu__icon:after {
            content: "";
            display: block;
            background: black;
            width: 100%;
            height: 4px;
            position: absolute;
            left: 0;
            transform-origin: center center;
            transform: rotate(0deg);
            transition: all 0.3s ease;
        }
    }
    ul#menu-main-menu {
        display: -webkit-box;
        display: flex;
        flex-direction: column;
        font-weight: 900;
        text-align: center;
        
        li {
            padding-right: 0;
            padding-bottom: 0.6rem;
        }
    }
    .menu-main-menu-container {
        margin-left: 0;
    }
    .logo-holder {
        width: 45%;
        margin-left: -23px;
    }
}

@keyframes animateLinks {
    from {
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.menu__icon {
	height: 32px;
	width: 43px;
    margin: 3%;
	position: fixed;
    top: 10px;
    right: 3%;
	display: inline-block;
	vertical-align: middle;
	z-index: 20;
}

.menu__icon span {
	display: block;
	background: $colour-blue;
	width: 100%;
	height: 4px;
	margin-top: -2px;
	position: absolute;
	left: 0;
	top: 50%;
}

.menu__icon:before,
.menu__icon:after {
	content: "";
	display: block;
	background: $colour-blue;
	width: 100%;
	height: 4px;
	position: absolute;
	left: 0;
	transform-origin: center center;
	transform: rotate(0deg);
	transition: all 0.3s ease;
}

.menu__icon:before {
  top: 2px;
  margin-top: -2px;
}

.menu__icon:after {
  bottom: 2px;
  margin-bottom: -2px;
}


.menu_shown .menu__icon span {
  background: transparent;
  transition: background 0.2s ease;
}

.menu_shown .menu__icon:before {
	top: 50%;
	transform: rotate(45deg);
}

.menu_shown .menu__icon:after {
	bottom: 50%;
	transform: rotate(-45deg);
}