.mobile {
  display: none;
}

@media all and (max-width:768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@screen max-xl {

  // 1279px
  .search-form input[type="search"] {
    width: 200px;
  }

  .phone-cta a {
    padding: 7px 15px;
  }

  ul#menu-main-menu li {
    padding-right: 1.5rem;
  }

  #logo {
    width: 180px;
    height: auto;
  }


}

@screen max-lg {

  // 1023px
  .post-type-archive-product ul.products li,
  .single-our_markets ul.products li {
    width: calc(100% / 3);
  }

  .second-parent .menu-main-menu-container {
    display: none;
  }

  .contact-form {
    padding: 0 20px;

    +p {
      margin-left: 20px;
    }
  }

  .enquire-now-block {

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
      padding-left: 0.6rem !important;
      padding-right: 0.6rem;
      font-size: 12px !important;
    }

    textarea {
      padding-left: 0.6rem !important;
      padding-right: 0.6rem;
    }
  }

  .hero-begin .hero-heading {
    font-size: 2rem;
    line-height: 1.3em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }

  .enquire-now-block .checkboxes div {
    // gap: 0px;
    margin-bottom: -20px;
  }

}

@screen max-md {

  // 767px
  .post-type-archive-product ul.products li,
  .single-our_markets ul.products li {
    width: 50%;
  }

  .woocommerce-pagination ul.page-numbers li {
    padding: 3px 10px 10px;
    background: #AABBC6;
    margin: 0.25rem;
  }

  .accordion-wrap {
    padding: 0;

    button {
      padding: 10px;
      margin: 0;
    }
  }

  .wp-block-columns {
    padding: 0 30px;
  }

  #footer .contact-details img {
    max-width: 180px;
  }

  .post-type-archive-product ul.products li,
  .tax-product_cat ul.products li,
  .single-our_markets ul.products li {
    width: 50%;
  }
}

@screen max-sm {
  .post-type-archive-product ul.products li,
  .tax-product_cat ul.products li,
  .single-our_markets ul.products li {
    width: 100%;
  }
}
