.woocommerce-breadcrumb,
.product_meta {
    display: none;
}

.popup-gallery-single {
    img{
        margin: 0 auto;
        width: 50%;
    }
    img.badge {
        width: 30%;
        top: -56px;
        left: 9px;
    }

    .full-warranty {
        p {
            @apply mb-0 pt-2;
            font-size: 0.875rem;
            font-weight: 600;
            text-align: center;
        }
    }
}

.single-product {
    .product_title {
        text-transform: uppercase;
        margin-bottom: -10px;
        font-size: 1.5rem;
    }

    .product-heading {
        font-weight: 600;
        font-size: 1.125rem;
        font-family: $font-2;
        color: $warranty-color;
    }

    .machine-id {
        font-weight: 600;
        font-family: $font-2;
        color: $colour-1;
        font-size: 1.125rem;
    }

    .prod-description,
    .read-more-section {
        font-size: 0.875rem;

        p {
            line-height: 1.5;
        }

        ul {
            padding-left: 1rem;
            li {
                list-style-type: disc;
                padding-bottom: 0.6rem;    
            }
        }
    }

    .collapsible {
        color: $colour-1;
        font-weight: 600;
        border-bottom: 1px solid $colour-1;
        transition: all 0.45s ease;

        &:focus {
            outline: none;
        }

        &.flip-arrow {
            transition: all 0.45s ease;
            img {
                transform: rotate(180deg);
                transition: all 0.45s ease;
            }
        }
    }

    span[id^="more"] p{
        display: none;
    }

    span.machine-id {
        position: relative;
        margin-left: 1.7rem;
        width: 20%;
    }

    .lightning_bolt {
        background-image: url('../images/lightning.svg');
        background-position: center;
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        position: absolute;
        background-size: contain;
        left: -2rem;
    }

    .flame {
        background-image: url('../images/flame.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        position: absolute;
        background-size: contain;
        left: -2rem;
    }

    .read-more-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        
        p {
            line-height: 1.5;
        }
    }   

    .buttons-section {
        .orange-button-large {
            margin-left: 0;
            margin-right: 0.5rem;
        }
        .grey-button-large {
            margin: 0;
        }
    }

    .woocommerce-tabs {
        
        .tab-heading {
            cursor: pointer;
        }

        .tab-content {
            display: none;

            p {
                font-size: 0.875rem;
                line-height: 1.5;
            }

            ul {
                list-style-type: disc;
                padding-left: 1rem;

                li {
                    font-size: 0.875rem;
                    padding-bottom: 1rem;
                    color: $para-color;
                }
            }

            .download {
                @apply pb-2;
                a {
                    color: $colour-1;
                    font-family: $font-2;

                    &:hover {
                        color: $colour-orange;
                    }
                }
            }

            .specification-details {
                div {
                    .flex {
                        border-bottom: 1px solid #f2f2f2;
                    }
                }
            }

            .spec-content {
                .title {
                    p {
                        font-family: $font-2;
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }
            }

            .spec-content:first-child {
                .title {
                    p {
                        @apply mb-1;
                    }
                }
            }

            .spec-content:not(:first-child) {
                .title {
                    p {
                        @apply mt-5 mb-1;
                    }
                }
            }

            .spec,
            .value {
                p {
                    @apply mb-1 mt-3;
                    font-size: 12px;
                }
            }
        }

        .tab-content.active {
            display: flex;
        }

        .tab-selection {
            @apply flex flex-row justify-between -mx-3;
            a {
                @apply mx-3 w-full;
                font-family: $font-2;
                // width: 30%;
                font-size: 1rem;
                text-align: center;
                // padding-left: 3rem;
                // padding-right: 3rem;
                padding-bottom: 1rem;
                text-transform: uppercase;
                font-weight: 600;
                border-bottom: 2px solid #3D3F40;
                opacity: 0.5;
                transition: none;

                &.active{
                    color: #3D3F40;
                    opacity: 1;
                    border-bottom: 2px solid #3D3F40;
                }
            }
        }
    }


    .enquire-now-block {
        input[type="text"], 
        input[type="tel"], 
        input[type="email"] {
            border: 1px solid #E4EAEF;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            width: 100%;
            font-weight: 500;
            padding-left: 1.2rem;
            font-size: 14px !important;
            font-family: $font-1;

            ::placeholder {
                font-size: 14px !important;
            }

            &:focus {
                outline: none !important;
                border: 1px solid $warranty-color;
            }
        }

        input[type="submit"] {
            background: $colour-orange;
            font-family: $font-2;
            font-weight: 600;
            @apply uppercase cursor-pointer;
            color: white;
            padding: 10px 25px;
            font-size: 1.125rem;
        }

        textarea {
            width: 100%;
            font-size: 0.875rem;
            font-weight: 500;
            border: 1px solid #E4EAEF;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 1.2rem;
            height: 100%;
            max-height: 100px;
            resize: none;
            margin-bottom: 1rem;

            ::placeholder {
                font-size: 0.875rem;
            }
        }
    }

    .ancillary-items {
        .ancillary-item {
            img {
                margin-bottom: 2rem;
            }
            h4 {
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 600;
            }
            p {
                font-size: 0.75rem;
                line-height: 1.5;
            }
        }
    }

}
