/* CORE */
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding-top: 22px;
  padding-left: 18px;
  line-height: 1.125em;
  cursor: pointer;
  .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em;
  }
}
.slicknav_menu {
  *zoom: 1;
  .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
  }
  .slicknav_icon {
  //    float: left;
    width: 30px;
    height: 30px;
    margin: auto;
    &:before { // Firefox Mobile v42 bugfix
      background: transparent;
      width: 1.125em;
      height: 0.875em;
      display: block;
      content: "";
      position: absolute;
    }
  }
  .slicknav_no-text {
    float: left;
  //margin: 16px auto auto 18px;
  }
  .slicknav_icon-bar {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
  }

  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
.slicknav_nav {
  clear: both;
  margin-top: 44px !important;

  ul {
    display: block;
  }
  li {
    display: block;
  }
  .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em;
  }
  .slicknav_item {
    cursor: pointer;
    a {
      display: inline;
    }
  }
  .slicknav_row {
    display: block;
  }
  a {
    display: block;
  }
  .slicknav_parent-link a {
    display: inline;
  }
}
.slicknav_brand {
  float: left;
}



/* THEME */

.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
//  background: $colour-4;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  * {
    box-sizing: border-box;
  }
  .slicknav_menutxt {
    color: $colour-4;
    font-weight: bold;
  }
  .slicknav_icon-bar {
    background-color: $colour-5;
  }
}
.slicknav_btn {
//  margin: 5px 5px 6px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-top: 5px;
  padding-right: 20px;
}
.slicknav_nav {
  background-color: $colour-1;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden;
//  border-bottom: 1px solid $colour-4;
  ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px;
  }
  .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px;
    &:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: $colour-4;
    }
  }
  a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: $colour-5;
    font-size: 16px;
    text-align: right;

    &:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
//      background: $colour-2;
      color: $colour-3;
    }
  }
  .slicknav_txtnode {
    margin-left: 15px;
  }
  .slicknav_item a {
    padding: 0;
    margin: 0;
  }
  .slicknav_parent-link a {
    padding: 0;
    margin: 0;
  }
}
.slicknav_brand {
  color: $colour-5;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
}

.slicknav_menu{
  display: none;
  background-color: $colour-1;
  @media screen and (max-width:800px) {
    display: block;
  }
}
