body{
  font-family: $font-1;
  font-size: 20px;
  color: $shade-1;
  i{
    font-family: $font-1;
	  font-style: italic;
    b, strong{
      font-family: $font-1;
		font-weight: bold;
    }
  }
  b, strong{
    font-family: $font-1;
	  font-weight: bold;
    i{
      font-family: $font-1;
		font-style: italic;
    }
  }
}

p, ul, ol, li {
  font-size: 16px;
}

p, span, blockquote, ul, ol, li{
}

h1, h2, h3, h4, h5, h6,legend{
  font-family: $font-2;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.875rem;
  font-weight: 600;
}

h2 {
  font-size: 1.875rem;
  font-weight: 600;
}

h3,
legend {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
    font-size: 1.7rem;
}

h5 {
  @apply text-2xl; //1.5
}

h6 {
  @apply text-xl;
}

a:link, a:visited, a:hover{
  text-decoration: none;
  // color: $shade-1;
  transition: all 0.3s ;
}
a:hover{
  color: $colour-orange;
}

main {
  a:not(.wp-block-button__link):not(.button):not(.woocommerce-LoopProduct-link):not(.orange-button-large):not(.grey-button-large):link, 
  a:not(.wp-block-button__link):not(.button):not(.woocommerce-LoopProduct-link):not(.orange-button-large):not(.grey-button-large):visited,
  a:not(.wp-block-button__link):not(.button):not(.woocommerce-LoopProduct-link):not(.orange-button-large):not(.grey-button-large):hover{
    text-decoration: underline;
}
}

.map-content a:not(.wp-block-button__link):not(.button):not(.woocommerce-LoopProduct-link):not(.orange-button-large):not(.grey-button-large),
.panel a:not(.wp-block-button__link):not(.button):not(.woocommerce-LoopProduct-link):not(.orange-button-large):not(.grey-button-large),
.general-col a:not(.wp-block-button__link):not(.button):not(.woocommerce-LoopProduct-link):not(.orange-button-large):not(.grey-button-large),
.archive .container a:not(.wp-block-button__link):not(.button):not(.woocommerce-LoopProduct-link):not(.orange-button-large):not(.grey-button-large),
.single .container a:not(.wp-block-button__link):not(.button):not(.woocommerce-LoopProduct-link):not(.orange-button-large):not(.grey-button-large):not(.tab-loc) {
    text-decoration: underline;
}

.ancillary-items h4 a {
  text-decoration: none !important;
}


p{
  line-height: 120%;
  margin-bottom: 20px;
}

.no-margin{
  margin: 0px !important;
}