/**
 * Variables
 */
$font-1: 'Montserrat', sans-serif;
$font-2: 'Oswald', sans-serif;

$shade-1: rgba(0, 0, 0,1);
$shade-2: rgba(255,255,255,1);
$shade-3: rgba(225, 225, 225,1);
$shade-4: rgba(50, 50, 50, 1);
$shade-5: rgba(240, 240, 240,1);
$shade-6: rgba(248, 248, 248,1);

$colour-1: #0080D2;
$colour-blue: #EEF4F8;
$colour-orange: #FCAD40;
$input-border-grey: #E0E8ED;
$color-block: #150006;
$background: #fff9f3;
$lighter-blue: #f4f9fd;
$warranty-color: #AABBC6;
$para-color: #3D3F40;
$shop-header: 1.5rem;