.slick-slide img {
    width: 100%;
    max-width: 55%;
    height: auto;
    margin: 0 auto;
}

.image-carousel {
    .slick-next:before {
        content: '';
        background-image: url('../images/orange-next.svg') !important;
        background-repeat: no-repeat;
        background-size: contain;
        height: 60px;
        width: 60px;
        display: block;
        right: -8rem;
        top: 3rem;
        position: absolute;
    }    
    .slick-prev:before {
        content: '';
        background-image: url('../images/orange-prev.svg') !important;
        background-repeat: no-repeat;
        background-size: contain;
        height: 60px;
        width: 60px;
        display: block;
        position: absolute;
        right: 2rem;
        top: 3rem;
        transform: rotate(0deg);
    }    
} 

.slick-next:before, .slick-prev:before {
    color: $colour-1;
    font-size: 4rem;
}

.slick-next:before {
    content: '';
    background-image: url('../images/blue-next.svg') !important;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    display: block;
    right: -1rem;
    top: -5px;
    position: absolute;
}

.slick-prev:before {
    content: '';
    background-image: url('../images/blue-next.svg') !important;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    display: block;
    position: absolute;
    right: -2rem;
    top: -5px;
    transform: rotate(180deg);
}

.slick-next, .slick-prev {
    top: 32%;
}

.slick-prev {
    margin-left: -2rem;
}

.post-type-archive-product,
.tax-product_cat,
.single-our_markets {
    
    .shop-header h1,
    .shop-header h2 {
        font-size: $shop-header;
        @apply uppercase font-semibold;
    }

    h1.product_title,
    h2.product_title {
        @apply py-1;
    }
    
    ul.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;

        li {
            @apply w-1/4 mb-3;

            &.single-product-item {
                display: flex;
                flex-direction: column;
            }
        }
    }
    
    .wrap {
        img {
            @apply mx-auto;
            padding: 0 30px;
            width: 80%;
        }
        a.product_type_simple {
            @apply hidden;
        }
    }

    .warranty-period {
        margin-top: -1rem;
    }
    
    .product-details {
        h3 {
            font-size: 14px;
            @apply text-center uppercase font-semibold;
        }
        .product_meta {
           @apply hidden;
        }

        p {
            text-align: center;
            font-size: 10px;
            color: $warranty-color;
        }
    }

    .orange-button {
        margin-top: auto;
    }
    
    .woocommerce-products-header {
        display: inline-block;
        p {
            @apply hidden;
        }
    }
    
    .woocommerce-breadcrumb,
    .woocommerce-result-count {
        @apply hidden;
    }

    .woocommerce-ordering {
        position: relative;
        select {
            border: 1px solid $input-border-grey;
            @apply p-2;
            font-size: 0.875rem;
            appearance: none;
            width: 280px;

            &:focus {
                outline: none;
            }
        }
        
        &::after {
            content: '\f0dd';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            padding-left: 0.5rem;
            color: #3D3F40;
            display: block;
            position: absolute;
            top: 3px;
            right: 10px;
            pointer-events: none;
        }
    }

    ul {
        &.product-categories {
            li {
                a {
                    font-size: 10px;
                    font-family: $font-1;
                    color: $warranty-color;
                    font-weight: 600;
                }
            }
        }
    }
}

// Woocommerce pagination
.woocommerce-pagination {

    ul.page-numbers {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        li {
 
            span,
            a {
            padding: 0px 16px 8px 15px;
            background: $warranty-color;
            margin: 0.5rem;
            color: white;
            font-family: $font-2;
            font-weight: 600;
            font-size: 0.75rem;
            display: block;
            height: 35px;
            line-height: 35px;
            cursor: pointer;
            &:hover {
                color: #fff;
                background-color: darken($color: $warranty-color, $amount: 10);
            }
            &.current {
                opacity: 0.7;
            }
            }

            a.next {
                font-size: 1rem;

                svg {
                    @apply mx-auto;
                }
            }
        }
    }
}

.content-area {
    flex: 1;
}

// filters

.accordion-wrap {
    border: 1px solid #E4EAEF;
    padding: 25px 20px;
    color: $warranty-color;
    margin-bottom: 30px;
    display: none;

    button {
        color: #3D3F40 !important;
        font-family: "Oswald", sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        &::after {
            display: none;
        }
    }

   .bapf_head {
        display: none;
    }

    .bapf_slidr .bapf_head {
        display: block;
        h3 {
        font-size: 10px;
        line-height: 1;
        color: #AABBC6 !important;
        }
    }

    .bapf_ckbox {
        li {
            @apply flex flex-row-reverse w-full justify-between;
            margin-bottom: 7px !important;
            imput {
                margin-bottom: 10px !important;
            }
        }
    }

    .bapf_slidr_all {
        input {
            border: 1px solid #E4EAEF;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1;
            color: #3D3F40 !important;

        }

        .bapf_slidr_main.ui-widget-content {
            background: $warranty-color;
            height: 2px;
            margin-top: 10px;
        }

        .bapf_slidr_main.ui-widget-content .ui-slider-range, .berocket_filter_price_slider.ui-widget-content .ui-slider-range {
            background: $colour-1;
        }

        .bapf_slidr_main.ui-widget-content .ui-slider-handle {
                background:#fff;
                border: 2px solid $colour-1;
        }
    }
}

.woocommerce-product-gallery__trigger {
    float: right;
    width: 20px;
    color: transparent;
    position: relative;
    visibility: hidden;
    &:hover {
        color: transparent;
    }
    &::before {
        content: '\f002';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        height: 20px;
        width: 20px;
        top: 7px;
        position: absolute;
        font-size: 1rem;
        color: #b4bbc0;
        left: 11px;
        visibility: visible;
    }
}

.readmore {
    text-decoration: underline;
    color: $colour-1;
    font-weight: 700;
    &:after {
        content: ' \f078';
        // background-image: url('./images/Search_Icon.png');
        // background-repeat: no-repeat;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }
    &:hover {
        color: $colour-orange;
    }
}

// popup 

.pswp__caption {
    display: none;
}

.pswp__bg {
    background-color: rgba(0,0,0,0.5);
}

.pswp__ui--fit .pswp__caption, .pswp__ui--fit .pswp__top-bar {
background-color: transparent;
}

button.pswp__button {
transform: scale(1.5);
}

li .wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    > a.woocommerce-loop-product__link {
    height: 175px;
    max-height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }
    }
}

.woocommerce-result-count {
    display: none !important;
}

.archive,
.single-our_markets {
    .variations_form {
        margin-top: -20px;
    }

    .price {
        // display: none;
    }
}