.wp-block-buttons {
    .wp-block-button {
        display: inline-block;

        .wp-block-button__link {
            background: #FCAD40;
            display: table;
            color: #fff;
            font-weight: 600;
            font-size: .75rem;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            text-transform: uppercase;
            transition: all .8s ease-out,color .3s .3s!important;
            padding: 7px 30px 9px;
            text-decoration: none;

            &:hover {
                box-shadow: 600px 0 0 0 #0080d2 inset;
            }
        }
    }
}