.wp-block-columns {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -30px;

	.wp-block-column {
        padding: 0 30px;
        max-width: 100%;
        flex: 1 1 0%;

        p {
            font-size: .875rem;
            line-height: 1.5;
        }
    }
}