.wp-block-group {
  .wp-block-group__inner-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  
    @media (min-width: 640px) { // 1024px
      max-width: 640px;
    }
    @media (min-width: 768px) { // 1024px
      max-width: 768px;
    }
    @media (min-width: 1024px) { // 768px
      max-width: 1024px;
    }
    @media (min-width: 1280px) { // 576px
      max-width: 1280px;
    }
  }

  &.alignfull {
    .wp-block-group__inner-container {
      max-width: 100%;
    }
  }
}