.wp-block-image {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

	img {
		max-width: 100%;
	}

	&:not(.is-style-rounded) img {
		border-radius: inherit;
	}

	&.aligncenter {
		text-align: center;
	}

	&.alignfull img,
	&.alignwide img {
		width: 100%;
	}

	.alignleft,
	.alignright,
	.aligncenter {
		display: table;

		> figcaption {
			display: table-caption;
			caption-side: bottom;
		}
	}

	.alignleft {
        margin-right: auto;

        figcaption {
            text-align: left;
        }
	}

	.alignright {
        margin-left: auto;   
        
        figcaption {
            text-align: right;
        }
	}

	.aligncenter {
		margin-left: auto;
		margin-right: auto;

        figcaption {
            text-align: center;
        }

	}

    figcaption {
        // optional
	}

	// Variations
	&.is-style-rounded img {
		border-radius: 9999px;
	}

}

.wp-block-image figure {
	margin: 0;
}