.wp-block-media-text {
    display: flex;
    flex-direction: row;
    .wp-block-media-text__media {
        display: flex;
        width: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .wp-block-media-text__content {
        width: 50%;
        padding: 30px;
    }

    &.has-media-on-the-right {
        flex-direction: row-reverse;
    }

    &.is-vertically-aligned-top {
        align-items: flex-start;
    }
    
    &.is-vertically-aligned-center {
        align-items: center;
    }
    
    &.is-vertically-aligned-bottom {
        align-items: flex-end;
    }

    &.alignfull {
        .wp-block-media-text__content {
            width: 50%;
            // the bottom two lines makes the text inside the block align with the container
            padding-left: 30px;
            padding-right: calc( ( ( 100vw - 1200px ) / 2 ) + 30px );
        }
    }

    &.has-media-on-the-right.alignfull {
        .wp-block-media-text__content {
            padding-left: calc( ( ( 100vw - 1200px ) / 2 ) + 30px);
            padding-right: 30px;
        }
    }
}